* {
	box-sizing: border-box;
  }
   
  body {	
	margin: 0;
	/* padding: 15px; */
	overflow-x: hidden; /*防止水平滚动*/
	background-color: white;
  }

  @media screen and (min-width: 300px) {
	html {
	  width: calc(100vw - 2px); /* 减去2px是为了避免滚动条的影响 */
	  height: calc((100vw - 2px) * 1000px / 1000px);
	}
  }
   
  
